<h1>Hello! You are logged in as <%= current_user.email %>.</h1>
<p>For now, all you can do is <%= link_to('log out', destroy_user_session_path, :method => :delete) %>.</p>
<p>Stay tuned for more functionality.</p>
