<table class="table table-striped table-bordered table-condensed">
<tr><td>Title</td><td>Author</td><td>Date posted</td>
<% @posts.each do |post| %>
  <tr>
  <td><%= link_to(post.title, post_path(post)) %></td>
  <td><%= post.user.email %></td>
  <td><%= post.created_at.strftime('%B %d, %Y, at %l:%M%P') %></td>
  <tr/>
<% end %>
</table>

<% if user_signed_in? %>
<%= button_to "New Post", new_post_path, class: "btn btn-primary", method: :get %>
<% else %>
<p>Sign in to add new posts.</p>
<% end %>
